body, .container-start div.result h2, .container-start div.result h4.rong, .container-start div.result h4.corr {
  margin: 0;
}

.container-start div.result button, .container-start div.game button#cont, .container-start div.game .btn-g, .container-start #btn {
  background-color: #59b300;
  border: none;
  border-radius: 5px;
  color: white;
  -webkit-transition: background-color 300ms;
  transition: background-color 300ms;
  letter-spacing: .2em;
}

.container-start div.result, .container-start div.game {
  position: absolute;
  top: 35%;
  width: 100%;
  left: 0;
}

.container-start div.game.show {
  opacity: 1;
}

.container-start div.result button:hover, .container-start div.game button#cont:hover, .container-start div.game .btn-g:hover, .container-start #btn:hover {
  cursor: pointer;
}

.container-start {
  min-width: 320px;
  width: 90%;
  height: 100vh;
  background-color: #99ddff;
  margin: 0 auto;
  text-align: center;
}

@-webkit-keyframes shakeit {
  from {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  to {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}

@keyframes shakeit {
  from {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  to {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}

.container-start div.result {
  visibility: hidden;
  opacity: 0;
  transition-duration: 500ms;
}

.container-start div.result h2 {
  color: white;
}

.container-start div.result h4.rong {
  color: #ff3333;
}

.container-start div.result h4.corr {
  color: #009933;
}

.container-start div.result button {
  padding: 10px 40px;
}

.container-start div.result button:hover {
  background-color: #009933;
}

.container-start div.result.show {
  visibility: visible;
  opacity: 1;
}

.container-start div.game.wrong img {
  -webkit-animation-name: shakeit;
          animation-name: shakeit;
  -webkit-animation-duration: 150ms;
          animation-duration: 150ms;
}

.container-start div.game {
  opacity: 0;
  -webkit-transition: opacity 500ms linear .3s;
  transition: opacity 500ms linear .3s;
}

.container-start div.game button#cont {
  padding: 5px 20px;
}

.container-start div.game button#cont:hover {
  background-color: #009933;
}

.container-start div.game .btn-g {
  margin: 40px 3px 20px 3px;
  padding: 10px 30px;
}

.container-start div.game .btn-g:hover {
  background-color: #009933;
}

.container-start div.game .btn-g.correct {
  background-color: #006622;
}

.container-start div.game .btn-g.wrong {
  background-color: #ff3333;
}

.container-start div.start {
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  z-index: 64;
  position: relative;
  top: 35%;
}

.container-start h1.title {
  color: white;
  margin: 0;
  font-family: 'ink-free';
}

.container-start h1.title span {
  color: #ff8533;
}

.container-start #btn {
  padding: 10px 80px;
  margin-top: 100px;
}

.container-start #btn:hover {
  background-color: #009933;
}

@media screen and (max-width: 330px) {
  div#start .game, div.game.show, div.result.show, div.start {
    top: 20%;
  }
  div#start .game .btn-g {
    padding: 10px 20px;
  }
  div.game.show .btn-g {
    padding: 10px 20px;
  }
  div.result.show h1 {
    font-size: 1.3em;
  }
  div.start #btn {
    padding: 10px 50px;
  }
}

@media screen and (min-width: 2000px) {
  div.start, div.result.show, div.game.show .btn-g, div.game.show button#cont, div.game.show h2.yey, div.game.show h2.pfft {
    font-size: 2em;
    letter-spacing: .25em;
  }
  div.start h1.title {
    letter-spacing: .1em;
  }
  div.start button#btn {
    font-size: 1.5em;
    padding: 30px 200px;
    margin-top: 250px;
    border-radius: 20px;
  }
  div.result.show button.reset {
    font-size: 1.5em;
    padding: 30px 150px;
    border-radius: 20px;
  }
  div.game.show img {
    height: 250px;
    width: 500px;
  }
  div.game.show .btn-g {
    padding: 20px 80px;
    margin: 100px 30px 30px;
    border-radius: 15px;
  }
  div.game.show button#cont {
    padding: 20px 60px;
    font-size: 2em;
  }
}
/*# sourceMappingURL=style.css.map */
